@model CourseApp.Models.Course

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Name: @Model.Name</p>
    <p>Description: @Model.Description</p>
    <p>Is Published? : @Model.IsPublished</p>

</body>
</html>