@model CourseStudentsViewModel
@{
    var className = Model.Students.Count > 1 ? "popular-course" : null;
}
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                         <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Index</title>
<style>
    .popular-course{
        color : green;
        font-weight: 700;
    }
</style>
</head>
<body>
Course Index

<ul>
    <h1 class="@className">@Model.Course.Name</h1>
    
    @if (Model.Students.Count == 0)
    {
        <text>No students in this course</text>
    }
    else
    {
        @foreach (var student in Model.Students)
        {
            <li>
                @student.Name
            </li>
        }
    }
</ul>
</body>
</html>